fastapi
uvicorn
langchain
langchain-google-genai
python-dotenv
requests
pinecone>=4.0.0
langchain-community
sentence-transformers
jsonschema
langgraph
langchain-huggingface
sentence-transformers==2.2.2
pdfminer.six
python-multipart
